<div class="boxTwo">
    <h1 class="HeadOne">SignUp</h1>
<p  class="text-[10px] mb-[30px] text-white" id="EmailVerification">Sign up with email address</p>
<form [formGroup]="signupForm" (ngSubmit)="onSignup()">
    <div class="inputtag">
        <i class="fa-solid fa-envelope b"></i>
        <input type="email" placeholder="yourname@gmail.com" class="bg-transparent w-[100%] px-[5px]" formControlName="email" required email>
    </div>
    <br>
    <div class="inputtag"> 
        <i class="fa-solid fa-lock b"></i>
        <input type="password" placeholder="Password" class="bg-transparent w-[100%] px-[5px]" formControlName="password">
    </div>
    <br>
    <div class="inputtag">
        <i class="fa-solid fa-lock b"></i>
        <input type="password" placeholder="Confirm Password" class="bg-transparent w-[100%] px-[5px]" formControlName="confirmpassword">
    </div>
    <br>
    <div class="btn">
        <button type="submit">Sign Up</button>
    </div>
</form>
<hr class="w-[300px] my-[10px]">
<p class="text-[10px] my-[5px] text-white">Continue with</p>
<div class="btns">
    <div class="google c">
        <i class="fa-brands fa-google"></i>&nbsp;
        <button>Google</button>
    </div>
    <div class="facebook c">
        <i class="fa-brands fa-facebook"></i>&nbsp;
        <button>Facebook</button>
    </div>
</div>
<p class="text-[10px] my-[10px] text-white">By registering you with our Terms and Conditions</p>

</div>
