<div class="h-[650px] w-[100%] px-[100px]">
    <h1 class="text-[40px] font-bold text-[rgb(38,80,115)]">Top Destination</h1>
    <div class="h-[80%] w-[100%]  flex gap-[10px] py-[50px]">
        <div class="h-[100%] w-[290px] bg-white py-[10px] rounded-[20px]" *ngFor="let details of topDestination">
            <img src="{{details.image}}" alt="" class="h-[130px] w-[90%] rounded-[10px] mx-[15px]"><br>
            <div class="h-[50px] w-[90%] mx-[15px] flex">
                <div class="h-[auto] w-[80%]">
                    <p class="font-bold">{{details.name}}</p>
                    <p>{{details.package}}</p>
                </div>
                <div class="h-[35px] w-[35px] my-2 bg-[rgb(239,234,211)] rounded-[50%] flex items-center justify-center">
                    <i class="fa-solid fa-heart text-[25px]" style="color: #ff0033;"></i>
                </div>
            </div><br>
            <div class="w-[90%] mx-[15px]">
                <p>From</p>
                <p class="font-bold">₹{{details.price}}</p>
                <p>*price varies</p>
                <br>
                <div class="flex gap-2 items-center font-semibold">
                    <i class="fa-regular fa-clock"></i>
                    <p>{{details.days}}</p>
                </div>
                <div class="flex gap-2 items-center">
                    <i class="fa-solid fa-check"></i>
                    <p>Free Cancellation</p>
                </div>
            </div>
        </div>
    </div>
    <div class="h-[50px] w-[100%]  flex items-center justify-center">
        <button class="h-[100%] w-[150px] bg-[rgb(38,80,115)] text-white font-semibold rounded-[20px]">BOOK NOW &nbsp;<i class="fa-regular fa-circle-right"></i></button>
    </div>
</div>