<!-- header -->
<div class="flex h-[50px] w-[100%]  align-middle">
    <div class="flex h-[50px] w-[40%] align-middle">
        <img src="/assets/images/BaTTuTa-green-Logo.png" alt="" class="h-[80%] ml-[25px]">
        <img src="/assets/images/companyName.png" alt="" class="h-[80%] pr-[200px]">
    </div>
    <div class="flex h-[100%] w-[60%]  py-[10px] gap-[140px] font-extrabold text-[rgb(11,0,75)] !important">
        <h3 routerLink="Destination">Destination</h3>
        <h3>Hotels</h3>
        <h3>Packages</h3>
        <h3>Guids</h3>
        <a routerLink="signup">Signup</a>
    </div>
</div>
