<div class="h-[100px] w-[100%] relative top-[120px] text-center">
    <h1 class="text-[rgb(38,80,115)] text-[35px] font-bold">APPLICATION FOR GUIDE</h1>
    <h1 class="text-black text-[15px]">Experience Something New Every Moment</h1>
</div>
<div class="h-[500px] w-[100%] relative  top-[120px] flex justify-center">
    <div class="h-[100%] w-[50%] bg-[rgb(239,234,211)] rounded-t-[20px] rounded-b-[20px] ">
        <div class="h-[14.3%] w-[100%] bg-[rgb(239,234,211)] flex py-[20px] rounded-t-[20px] px-[10px]">
            <div class="h-[100%] w-[50%] px-[10px]">
                <h1 class="font-semibold">Username <span class="text-red-500">*</span></h1>
                <input type="text" class="h-[30px] w-[350px] rounded-[10px] px-[20px] " placeholder="Full Name">
            </div>
            <div class="h-[100%] w-[50%] px-[10px]">
                <h1 class="font-semibold">Email <span class="text-red-500">*</span></h1>
                <input type="email" class="h-[30px] w-[350px] rounded-[10px] px-[20px] " placeholder="useremail@gmail.com">
            </div>
        </div>
        <div class="h-[14.3%] w-[100%]  flex py-[20px]">
            <div class="h-[100%] w-[50%] px-[20px]">
                <h1 class="font-semibold">Which Type guide?<span class="text-red-500">*</span></h1>
                <select name="VehicleType" id="colour"  class="h-[30px] w-[350px] rounded-[10px] px-[20px] ">
                    <option value="Red">Forest</option> 
                    <option value="Blue">Ocean</option>
                    <option value="Green">Mountain</option>
                    <option value="Black">Historical</option>  
                </select>
            </div>
            <div class="h-[100%] w-[50%] px-[20px]">
                <h1 class="font-semibold">Experience <span class="text-red-500">*</span></h1>
                <select name="PackageType" id="colour"  class="h-[30px] w-[350px] rounded-[10px] px-[20px] ">
                    <option value="Red">0-2 years</option> 
                    <option value="Blue">3-4 years</option>
                    <option value="Green">5-6 years</option>
                </select>
            </div>
        </div>
        <div class="h-[14.3%] w-[100%]  flex py-[20px]">
            <div class="h-[100%] w-[50%]">
                <div class="h-[100%] w-[50%] px-[20px]">
                    <h1 class="font-semibold">Free Pickup? <span class="text-red-500">*</span></h1>
                    <select class="h-[30px] w-[350px] rounded-[10px] px-[20px] ">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="h-[14.3%] w-[100%]  py-[20px]">
            <div class="h-[100%] w-[50%] px-[20px]">
                <h1 class="font-semibold">Special Request? <span class="text-red-500">*</span></h1>
                <textarea type="text" class="h-[50px] w-[680px] max-h-[50px] overflow-y-hidden rounded-[10px]"></textarea>
            </div>
        </div>
        <div class="h-[14.3%] w-[100%] bg-[rgb(239,234,211)] rounded-b-[20px] py-[100px] flex justify-center items-center">
            <button class="h-[40px] w-[150px] bg-[rgb(38,80,115)] text-white rounded-[30px]">SUBMIT</button>
        </div>
    </div>
</div>