<!-- forth layer for home page  -->
<div class="h-[600px] w-[100%]  border-b-2">
    <div class="h-[100px] w-[100%] items-center text-center">
        <h1 class="text-[30px] font-semibold">PLAN YOUR VECATION!</h1>
        <p>For many pepole organizing a trip is a headache. Register to able to jointly determine vacation destinations and dates</p>
    </div>
    <div class="h-[500px] w-[100%] bg-worldMap-layer4-home bg-no-repeat bg-contain bg-center relative">
        <!-- Eiffel tower  -->
        <div class="h-[85px] w-[400px] bg-white absolute left-[550px] top-[100px] flex rounded-[10px]">
            <div class="h-[100%] w-[100px]">
                <img src="/assets/images/home/paris-home-layer-4.jpg" alt="" class="h-[100%] w-[100%] rounded-l-[10px]">
            </div>
            <div class="h-[100%] w-[270px] bg-white px-[10px] py-[5px]">
                <button class="h-[30px] w-[90px] border-1 bg-[rgb(217,238,243)] rounded-[10px]  text-[rgb(77,172,198)] hover:bg-[rgb(77,172,198)] hover:text-[rgb(217,238,243)]" >Destination</button>
                <h3 class="font-semibold">Eiffel Tower - paris </h3>
                <p class="text-[rgb(75,76,69)]">1 person | 8 Days | Rs: 300K</p>
            </div>
        </div>
        <!-- india gate  -->
        <div class="h-[85px] w-[400px] bg-white absolute left-[1000px] top-[230px] flex rounded-[10px]">
            <div class="h-[100%] w-[100px]">
                <img src="/assets/images/home/Inida-gate-layer-4.jpg" alt="" class="h-[100%] w-[100%] rounded-l-[10px]">
            </div>
            <div class="h-[100%] w-[270px] bg-white px-[10px] py-[5px]">
                <button class="h-[30px] w-[90px] border-1 bg-[rgb(217,238,243)] rounded-[10px]  text-[rgb(77,172,198)] hover:bg-[rgb(77,172,198)] hover:text-[rgb(217,238,243)]" >Tour</button>
                <h3 class="font-semibold">INDIA GATE - INDIA </h3>
                <p class="text-[rgb(75,76,69)]">1 person | 5 Days | Rs: 5K</p>
            </div>
        </div>
        <!-- ARGENTINA  -->
        <div class="h-[85px] w-[400px] bg-white absolute left-[180px] top-[230px] flex rounded-[10px]">
            <div class="h-[100%] w-[100px]">
                <img src="/assets/images/home/brazil-resort-layer-4.jpg" alt="" class="h-[100%] w-[100%] rounded-l-[10px]">
            </div>
            <div class="h-[100%] w-[270px] bg-white px-[10px] py-[5px]">
                <button class="h-[30px] w-[90px] border-1 bg-[rgb(217,238,243)] rounded-[10px]  text-[rgb(77,172,198)] hover:bg-[rgb(77,172,198)] hover:text-[rgb(217,238,243)]" >Beach</button>
                <h3 class="font-semibold">Chapadmalal- Argentina</h3>
                <p class="text-[rgb(75,76,69)]">1 person | 5 | Rs: 150K</p>
            </div>
        </div>
        <!-- BRAZIL  -->
        <div class="h-[85px] w-[400px] bg-white absolute left-[650px] top-[330px] flex rounded-[10px]">
            <div class="h-[100%] w-[100px]">
                <img src="/assets/images/home/brazil-resort-layer-4.jpg" alt="" class="h-[100%] w-[100%] rounded-l-[10px]">
            </div>
            <div class="h-[100%] w-[270px] bg-white px-[10px] py-[5px]">
                <button class="h-[30px] w-[90px] border-1 bg-[rgb(217,238,243)] rounded-[10px]  text-[rgb(77,172,198)] hover:bg-[rgb(77,172,198)] hover:text-[rgb(217,238,243)]" >Resort</button>
                <h3 class="font-semibold">Salinas Maceio All Inclusive Resort</h3>
                <p class="text-[rgb(75,76,69)]">1 person | Tonight | Rs: 15K</p>
            </div>
        </div>
    </div>
</div>