<h1 class="HeadOne">Sign In</h1>
<p  class="text-[10px] mb-[30px] text-white">Sign in with email address</p>
<div class="inputtag">
    <i class="fa-solid fa-envelope b"></i>
    <input type="text" placeholder="yourname@gmail.com" class="bg-transparent w-[100%] px-[5px]">
</div>
<br>
<div class="inputtag">
    <i class="fa-solid fa-lock b"></i>
    <input type="text" placeholder="Password" class="bg-transparent w-[100%] px-[5px]">
</div>
<br>
<div class="btn">
    <button>Sign In</button>
</div>
<hr class="w-[300px] my-[10px]">
<p class="text-[10px] my-[5px] text-white">Continue with</p>
<div class="btns">
    <div class="google c">
        <i class="fa-brands fa-google"></i>&nbsp;
        <button>Google</button>
    </div>
    <div class="facebook c">
        <i class="fa-brands fa-facebook"></i>&nbsp;
        <button>Facebook</button>
    </div>
</div>
<p class="text-[10px] my-[10px] text-white">By registering you with our Terms and Conditions</p>