<div class="condier">
    <div class="boxOne">
        <div class="image">
            <img src="/assets/images/BaTTuTa-Logo.png" alt="" class="logoImage">
            <img src="/assets/images/companyName.png" alt="" class="CompanyName">\
            <div class="absolute top-[330px] left-[50px]">
                <p class="headOne">Sign up to your</p>
                <p class="headOne a">adventure!</p>
            </div>
        </div>
    </div>
    <div class="boxTow">
        <router-outlet></router-outlet>
    </div>
</div>