.logoImage{
    height: 40px;
    width: 45px;
    position: absolute;
    left:  80px;
    top: 50px;
}
.CompanyName{
    height: 40px;
    width: 100px;
    position: absolute;
    left:  120px;
    top: 60px;
}
.headOne{
    font-size: 3rem;
    font-weight: bolder;
    color: white;
}
.a{
    /* font-size: 4rem; */
    color: rgb(129,65,203);
}
@media (max-width: 906px) {
    .condier {
        background-color: blue;
        flex-direction: column;
    }

    .boxOne {
        display: none;
    }

    .boxTow {
        width: 100%;
        height: 100%;
        padding-left: 0;
    }

    .image {
        width: 100%;
    }
}
.condier{
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
    background-image: url('/assets/images/bg-img.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.boxOne{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image{
    height: 30%;
    width: 100%;
    display: flex;
}

.headings {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    margin-top: 200px;
    /* justify-content: center; */
    flex-direction: column;
    gap: 10px;
}
.boxTow{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:rgb(38,16,70); */
}

.inputtag{
    display: flex;
    border: 1px solid white;
    background-color:rgb(38,16,70);
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 300px;
    gap: 10px;
    padding-left: 10px;
}
.b{
    color: antiquewhite;
    font-size: 100%;
}
.HeadOne{
    color: white;
    font-weight: bolder;
    font-size: 5rem;
}
.btn{
    height: 40px;
    width: 300px;
    color: white;
    background: linear-gradient(241deg, rgba(64,104,160,1) 0%, rgba(80,25,148,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.btns{
    display: flex;
    gap: 10px;
}
.c{
    height: 40px;
    width: 150px;
    color: white;
    background: linear-gradient(241deg, rgba(64,104,160,1) 0%, rgba(80,25,148,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}