<div class="condier">
  <div class="boxOne">
    <div class="image">
      <img src="/assets/images/BaTTuTa-Logo.png" alt="" class="logoImage" />
      <img src="/assets/images/companyName.png" alt="" class="CompanyName" />
    </div>
    <div class="headings">
      <p class="headOne">Sign up to your <span class="a">Adventure!</span></p>
    </div>
  </div>
  <div class="boxTow">
    <div class="h-[500px] w-[400px] bg-transparent flex justify-center ">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
