<div class="h-[150vh]  w-[99vw] bg-gradient-to-t from-[rgba(255,255,255,1)] to-[rgba(71,178,255,1)] absolute">
    <app-home-header></app-home-header>
    <div class="h-[200px] w-[100%] bg-form-header-image bg-cover bg-no-repeat flex gap-5 justify-center relative">
        <div class="h-[200px] w-[200px] bg-white relative top-[100px] flex justify-center items-center rounded-[10px]">
            <img src="/assets/images/forms/Rectangle-1.png" alt="" class="h-[180px] w-[180px]">
        </div>
        <div class="h-[200px] w-[200px] bg-white relative top-[100px] flex justify-center items-center rounded-[10px]">
            <img src="/assets/images/forms/Rectangle-2.png" alt="" class="h-[180px] w-[180px]">
        </div>
        <div class="h-[200px] w-[200px] bg-white relative top-[100px] flex justify-center items-center rounded-[10px]">
            <img src="/assets/images/forms/retangle-3.png" alt="" class="h-[180px] w-[180px]">
        </div>
    </div>
    <router-outlet></router-outlet>
    <app-footer class="relative top-[300px]"></app-footer>
</div>