<!-- footer  -->
<div class="h-[400px] w-[100%]  border-b-2 px-[100px] py-[50px] flex">
    <div class="grid grid-rows-6 grid-cols-3 h-[90%] w-[70%]">
        <p class="text-[25px] font-semibold">About Us</p>
        <p class="text-[25px] font-semibold">Contact Us</p>
        <p class="text-[25px] font-semibold">Support</p>
        <p>Explore</p>
        <p>FAQs</p>
        <p>Affiliates</p>
        <p>Destinations</p>
        <p>Terms</p>
        <p>Sitemap</p>
        <p>Packages</p>
        <p>Privacy</p>
        <p>Social Media</p>
        <p>Hotels</p>
        <p>Careers</p>
        <p>Facebook</p>
        <p>Flights</p>
        <p>Blog</p>
        <p>Twitter</p>
    </div>
    <div class="h-[100%] w-[30%]">
        <h1  class="text-[25px] font-semibold">Subscribe</h1>
        <p>Join our mailing list for the latest updates and promotions.</p><br>
        <div class="flex gap-[10px]">
            <input type="text" placeholder="YOUR EMAIL" class="border-b-2 border-black w-[300px]">
            <button class="h-[30px] w-[100px] bg-black text-white rounded-[10px]">Contact</button>
        </div>
        <div class="flex py-[50px] gap-[10px] text-[25px] px-[250px]">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>

</div>