.logoImage{
    height: 40px;
    width: 45px;
    position: absolute;
    left:  80px;
    top: 50px;
}
.CompanyName{
    height: 40px;
    width: 100px;
    position: absolute;
    left:  120px;
    top: 60px;
}
.headOne{
    font-size: 30px;
    font-weight: bolder;
    color: white;
}
.a{
    color: rgb(129,65,203);
}
@media (max-width: 906px) {
    .condier {
        background-color: blue;
        flex-direction: column;
    }

    .boxOne {
        display: none;
    }

    .boxTow {
        width: 100%;
        height: 100%;
        padding-left: 0;
    }

    .image {
        width: 100%;
    }
}
/* @media (max-width: 451px) {
    .condier {
        width: 450px;
        flex-direction: column;
        display: none;
    }

    .boxOne {
        display: none;
    }

    .boxTow {
        width: 100%;
        height: 100%;
        padding-left: 0;
    }

    .image {
        width: 100%;
    }
} */