<div class="h-[100px] w-[100%] relative top-[120px] text-center">
    <h1 class="text-[rgb(38,80,115)] text-[35px] font-bold">BOOK YOUR PACKAGE</h1>
    <h1 class="text-black text-[15px]">Experience Something New Every Moment</h1>
</div>
<div class="h-[700px] w-[100%] relative  top-[120px] flex justify-center">
    <div class="h-[100%] w-[50%] bg-[rgb(239,234,211)] rounded-t-[20px] rounded-b-[20px] ">
        <div class="h-[14.3%] w-[100%] bg-[rgb(239,234,211)] flex py-[20px] rounded-t-[20px] px-[10px]">
            <div class="h-[100%] w-[50%] px-[10px]">
                <h1 class="font-semibold">Username <span class="text-red-500">*</span></h1>
                <input type="text" class="h-[30px] w-[350px] rounded-[10px] px-[20px] " placeholder="Full Name">
            </div>
            <div class="h-[100%] w-[50%] px-[10px]">
                <h1 class="font-semibold">Email <span class="text-red-500">*</span></h1>
                <input type="email" class="h-[30px] w-[350px] rounded-[10px] px-[20px] " placeholder="useremail@gmail.com">
            </div>
        </div>
        <div class="h-[14.3%] w-[100%]  flex py-[20px]">
            <div class="h-[100%] w-[50%] px-[20px]">
                <h1 class="font-semibold">Vehicle Type<span class="text-red-500">*</span></h1>
                <select name="VehicleType" id="colour"  class="h-[30px] w-[350px] rounded-[10px] px-[20px] ">
                    <option value="Red">Bike</option> 
                    <option value="Blue">Car</option>
                    <option value="Green">Traveler</option>
                    <option value="Black">Bus</option>
                    <option value="Orange">Train</option>
                    <option value="Yellow">Local Bus</option>      
                </select>
            </div>
            <div class="h-[100%] w-[50%] px-[20px]">
                <h1 class="font-semibold">Package Type <span class="text-red-500">*</span></h1>
                <select name="PackageType" id="colour"  class="h-[30px] w-[350px] rounded-[10px] px-[20px] ">
                    <option value="Red">Bachlors</option> 
                    <option value="Blue">Couples's</option>
                    <option value="Green">Family</option>
                    <option value="Black">School Trip</option>
                    <option value="Orange">Stanger's</option>
                    <option value="Yellow">Solo</option>      
                </select>
            </div>
        </div>
        <div class="h-[14.3%] w-[100%]  py-[20px]">
            <div class="h-[100%] w-[100%] px-[20px]">
                <h1 class="font-semibold">Arrival Date & Time <span class="text-red-500">*</span></h1>
                <div class="flex gap-5">
                    <input type="date" class="h-[30px] w-[350px] rounded-[10px] px-[20px] ">
                    <input type="time" class="h-[30px] w-[150px] rounded-[10px] px-[20px] ">
                </div>
            </div>
        </div>
        <div class="h-[14.3%] w-[100%]  py-[20px]">
            <div class="h-[100%] w-[100%] px-[20px]">
                <h1 class="font-semibold">Departure Date <span class="text-red-500">*</span></h1>
                <div class="flex gap-5">
                    <input type="date" class="h-[30px] w-[350px] rounded-[10px] px-[20px]">
                </div>
            </div>    
        </div>
        <div class="h-[14.3%] w-[100%]  flex py-[20px]">
            <div class="h-[100%] w-[50%] px-[20px]">
                <h1 class="font-semibold">Avilability of Guide? <span class="text-red-500">*</span></h1>    
                <select class="h-[30px] w-[350px] rounded-[10px] px-[20px] ">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </div>
            <div class="h-[100%] w-[50%]">
                <div class="h-[100%] w-[50%] px-[20px]">
                    <h1 class="font-semibold">Free Pickup? <span class="text-red-500">*</span></h1>
                    <select class="h-[30px] w-[350px] rounded-[10px] px-[20px] ">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="h-[14.3%] w-[100%]  py-[20px]">
            <div class="h-[100%] w-[50%] px-[20px]">
                <h1 class="font-semibold">Special Request? <span class="text-red-500">*</span></h1>
                <textarea type="text" class="h-[50px] w-[680px] max-h-[50px] overflow-y-hidden rounded-[10px]"></textarea>
            </div>
        </div>
        <div class="h-[14.3%] w-[100%] bg-[rgb(239,234,211)] rounded-b-[20px] flex justify-center items-center">
            <button class="h-[40px] w-[150px] bg-[rgb(38,80,115)] text-white rounded-[30px]">Book</button>
        </div>
    </div>
</div>